body{
    margin:0;
}
.top-pane{
    background-color: hsl(225,6%,25%);
}
.pane{
    display: flex;
    height: 50vh;
}
.Editor{
    flex-grow: 1;
    padding: .5rem;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    background-color: hsl(225,6%,25%);
}
.Editor.collapsed{
    flex-grow: 0;
}
.Editor.collapsed .CodeMirror-scroll{
    position:absolute;
    overflow: hidden !important;
}
.open-close-btn{
    margin-left: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.Editor-Info{
    background-color: hsl(225,6%,13%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.CodeMirror{
    height: 100% !important;
}
.Code-Editor{
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}